@using Microsoft.Extensions.Logging
@using YourGamesList.Contracts.Dto
@using YourGamesList.Web.Page.Components.Dialogs
@using YourGamesList.Web.Page.Services
@using YourGamesList.Web.Page.Services.UserLoginStateManager
@using YourGamesList.Web.Page.Services.Ygl


<style>
    .add-to-list-button-container {
        position: absolute;
        bottom: 8px;
        right: 8px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .game-tile-card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .game-tile-card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .game-tile-card:hover .add-to-list-button-container {
        opacity: 1;
    }
</style>

<MudCard Outlined="true" Style="position: relative;" Class="game-tile-card">
    <MudStack Row="true">
        <MudImage Src="@ImageUrl()" Width="176" Height="235"></MudImage>
        <MudStack Style="width: 100%;">
            <MudStack>
                <MudText>@Game.Name</MudText>
                <MudText>@FormatReleaseDate()</MudText>
                <MudText>@TruncateText(Game.Summary, 150)</MudText>
            </MudStack>
        </MudStack>
    </MudStack>
    <div class="add-to-list-button-container">
        <MudIconButton Icon="@Icons.Material.Outlined.BookmarkAdd" Shape="Shape.Circle" Size="Size.Small" OnClick="@AddToList"></MudIconButton>
    </div>
</MudCard>


@code {
    [Inject] private ISnackbar Snackbar { get; set; } = default!;
    [Inject] private IDialogService DialogService { get; set; } = default!;
    [Inject] private IYglListsClient ListsClient { get; set; } = default!;
    [Inject] private IUserLoginStateManager UserLoginStateManager { get; set; } = default!;
    [Inject] private ILogger<GameTile> Logger { get; set; } = default!;
    [Inject] private IUserListsManager IUserListsManager { get; set; } = default!;


    private const string GameReleaseDateFormat = "yyyy MMMM dd";

    [Parameter] public required GameDto Game { get; set; }

    private string ImageUrl()
    {
        return !string.IsNullOrWhiteSpace(Game.ImageId) ? $"https://images.igdb.com/igdb/image/upload/t_cover_big/{Game.ImageId}.jpg" : "";
    }

    private string FormatReleaseDate()
    {
        return Game.FirstReleaseDate != 0 ? DateTimeOffset.FromUnixTimeSeconds(Game.FirstReleaseDate).ToString(GameReleaseDateFormat) : string.Empty;
    }

    private static string TruncateText(string text, int maxLength)
    {
        if (maxLength <= 10)
        {
            maxLength = 10;
        }

        return text.Length >= maxLength ? $"{text[0..(maxLength - 3)]}..." : text;
    }

    private async Task AddToList()
    {
        var dialog = await DialogService.ShowAsync<UserListsDialog>("Choose list");
        var result = await dialog.Result;
        if (result != null && !result.Canceled)
        {
            var dialogData = result.Data?.ToString();
            if (Guid.TryParse(dialogData, out var selectedListId))
            {
                var gameId = Game.Id;

                var listsState = await IUserListsManager.ReadOrRefresh();
                if (listsState.IsFailure)
                {
                    //TODO:
                    return;
                }

                var selectedList = listsState.Value.FirstOrDefault(x => x.Id == selectedListId);
                if (selectedList == null)
                {
                    //TODO:
                    return;
                }

                //Check if selected list already contains the game
                if (selectedList.Entries.Any(x => x.Game?.Id == gameId))
                {
                    Logger.LogInformation($"Selected list '{selectedListId.ToString()}' already contains game id '{gameId}'.");
                    Snackbar.Add("Selected game already was added to that list.", Severity.Normal);
                    return;
                }

                //Try to add game to list
                try
                {
                    var userToken = await UserLoginStateManager.GetUserToken();
                    if (string.IsNullOrWhiteSpace(userToken))
                    {
                        //TODO:
                        return;
                    }

                    var res = await ListsClient.AddListEntries(userToken, selectedListId, [gameId]);

                    if (res.IsFailure)
                    {
                        //TODO:
                        Snackbar.Add("Could not add game to selected list!.", Severity.Error);
                        return;
                    }
                    else
                    {
                        // Fire and forget
                        _ = IUserListsManager.Refresh();

                        //TODO: navigate to edit page 
                        Snackbar.Add("Successfully added game to selected list. Click me to edit entry.", Severity.Info, config =>
                        {
                            config.OnClick = snackbar =>
                            {
                                Snackbar.Add("Hello World!");
                                return Task.CompletedTask;
                            };
                        });
                    }
                }
                finally
                {
                }
            }

            Logger.LogWarning($"Could not parse selected list id. '{dialogData}'");
        }
    }

}