@using YourGamesList.Contracts.Dto
@using YourGamesList.Contracts.Requests.Lists
@using YourGamesList.Web.Page.Services
@using YourGamesList.Web.Page.Services.UserLoginStateManager
@using YourGamesList.Web.Page.Services.Ygl
<style>
    .edit-game-list-entry-button-container {
        position: absolute;
        bottom: 8px;
        right: 8px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .gameslistentry-tile-card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .gameslistentry-tile-card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .gameslistentry-tile-card:hover .edit-game-list-entry-button-container {
        opacity: 1;
    }

</style>



<MudCard Outlined="true" Style="position: relative;" Class="gameslistentry-tile-card">
    <MudStack Row="true">
        <MudImage_GameImage ImageId="@Game.ImageId" Width="176" Height="235"></MudImage_GameImage>
        <MudStack Style="width: 100%;">
            <MudStack>
                <MudText>@Game.Name</MudText>
                <MudText_GameReleaseDate Date="@Game.FirstReleaseDate"></MudText_GameReleaseDate>
                <MudText_Truncated Text="@Game.Summary" MaxLength="150"></MudText_Truncated>
                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="4">
                    <MudRating SelectedValue="@Rating()" SelectedValueChanged="@OnSelectedRatingChange"/>
                    <MudCheckBox T="bool"
                                 Value="@IsStarred()"
                                 Color="Color.Secondary"
                                 CheckedIcon="@Icons.Material.Filled.Favorite"
                                 UncheckedIcon="@Icons.Material.Filled.FavoriteBorder"
                                 ValueChanged="@OnIsStarredChange"/>
                </MudStack>
            </MudStack>
        </MudStack>
    </MudStack>
    <div class="edit-game-list-entry-button-container">
        <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="Size.Small" OnClick="@GoToEditPage"></MudIconButton>
    </div>
</MudCard>


@code {
    [Inject] private ISnackbar Snackbar { get; set; } = default!;
    [Inject] private IUserLoginStateManager UserLoginStateManager { get; set; } = default!;
    [Inject] private IYglListsClient ListsClient { get; set; } = default!;
    [Inject] private IUserListsManager IUserListsManager { get; set; } = default!;
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    [Parameter] public required GameListEntryDto GameListEntry { get; set; }
    [Parameter] public required Guid ListId { get; set; }
    private GameDto Game => GameListEntry.Game!;

    private byte? _rating = null;

    private byte Rating()
    {
        if (_rating == null)
        {
            _rating = GameListEntry.Rating ?? 0;
        }

        return _rating.Value;
    }

    private bool? _isStarred = null;

    private bool IsStarred()
    {
        if (_isStarred == null)
        {
            _isStarred = GameListEntry.IsStarred;
        }

        return _isStarred.Value;
    }

    private async Task OnSelectedRatingChange(int selectedRating)
    {
        _rating = (byte) selectedRating;

        var userToken = await UserLoginStateManager.GetUserToken();
        if (string.IsNullOrWhiteSpace(userToken))
        {
            //TODO:
            _rating = GameListEntry.Rating ?? 0;
            return;
        }

        var entryToUpdate = new EntryToUpdateRequestPart()
        {
            EntryId = GameListEntry.Id,
            Rating = (byte) selectedRating
        };

        var res = await ListsClient.UpdateListEntries(userToken, ListId, [entryToUpdate]);
        if (res.IsFailure)
        {
            _rating = GameListEntry.Rating ?? 0;
        }
        else
        {
            // Fire and forget
            _ = IUserListsManager.Refresh();
        }
    }

    private async Task OnIsStarredChange(bool selectedIsStarred)
    {
        _isStarred = selectedIsStarred;

        var userToken = await UserLoginStateManager.GetUserToken();
        if (string.IsNullOrWhiteSpace(userToken))
        {
            //TODO:
            _isStarred = GameListEntry.IsStarred;
            return;
        }

        var entryToUpdate = new EntryToUpdateRequestPart()
        {
            EntryId = GameListEntry.Id,
            IsStarred = selectedIsStarred
        };

        var res = await ListsClient.UpdateListEntries(userToken, ListId, [entryToUpdate]);
        if (res.IsFailure)
        {
            _isStarred = GameListEntry.IsStarred;
        }
        else
        {
            // Fire and forget
            _ = IUserListsManager.Refresh();
        }
    }

    private void GoToEditPage()
    {
        Navigation.NavigateTo(Paths.ViewGameListEntry(ListId, GameListEntry.Id));
    }

}