@page "/searchGames"
@using Microsoft.Extensions.Logging
@using YourGamesList.Web.Page.Services.UserLoginState
@using YourGamesList.Web.Page.Services.Ygl
@using YourGamesList.Web.Page.Services.Ygl.Model.Responses

<PageTitle>Search Games</PageTitle>

@if (!_isUserLoggedIn)
{
    <LoginFirst></LoginFirst>
}
else
{
    <div>
        <MudTextField @bind-Value="@_gameName"
                      Label="Game Name" Variant="Variant.Outlined" InputType="@InputType.Text"/>
        <MudButton OnClick="@SearchGamesClick" Disabled="@_searchGamesButtonDisabled">@_searchGamesButtonText</MudButton>
    </div>

    @if (_isLoadingGames)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true"/>
    }
    else
    {
        <GameDisplayFull Games="@_games"></GameDisplayFull>
    }
}

@code {
    [Inject] private ILogger<SearchGames> Logger { get; set; } = default!;
    [Inject] private ISnackbar Snackbar { get; set; } = default!;
    [Inject] private IYglGamesClient GamesClient { get; set; } = default!;
    [Inject] private IUserLoginStateManager UserLoginStateManager { get; set; } = default!;

    private bool _isUserLoggedIn = false;

    private bool _searchGamesButtonDisabled = false;
    private string _searchGamesButtonText = "Search!";

    private string _gameName = string.Empty;

    private bool _isLoadingGames = false;
    private IEnumerable<Game> _games = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _isUserLoggedIn = await UserLoginStateManager.IsUserLoggedIn();
    }

    private async Task SearchGamesClick()
    {
        _isLoadingGames = true;
        _searchGamesButtonDisabled = true;
        _searchGamesButtonText = "Searching...";
        try
        {
            var token = await UserLoginStateManager.GetUserToken();

            if (string.IsNullOrWhiteSpace(token))
            {
                //TODO: better error handling
                return;
            }

            var res = await GamesClient.SearchGames(token, _gameName);
            if (res.IsFailure)
            {
                switch (res.Error)
                {
                    default:
                        Snackbar.Add("Failed to load games from server. Please try again.", Severity.Warning);
                        break;
                }

                return;
            }

            var games = res.Value;
            _games = games.ToList();
        }
        finally
        {
            _isLoadingGames = false;
            _searchGamesButtonDisabled = false;
            _searchGamesButtonText = "Search!";
        }
    }

}